
body {
  background: url('https://i.ytimg.com/vi/dqoHcfMn6Ck/maxresdefault.jpg');
  /* background: rgb(235, 235, 235) */
}

.headers {
  font-style: italic;
  font-family: 'Anton', sans-serif;
  font-size: 42px;
  color: yellow;
  margin-top: 35px;
  /* z-index: 10; */

}

#main {
  display: flex;
  justify-content: center;
}

#searchBar{
  width: 60%;
  height: 30px;
}

#searchCont {
  display:flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

#resultCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#page {
  width: 80%;


}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(151, 151, 151);
  color: white;
  width: 60%;
  border-style: solid;
  border-color: black;
  z-index: 10;
  box-shadow: 100px, 100px, white;
}
  

.movieTitle {
  margin: auto;
  font-size: 32px;
  font-weight: bold;
}

.ratings {
  margin: auto;
  font-size: 26px;
  font-weight: bold;
}

.poster {
  margin: 5px;
  max-height: 350px;
  border-radius: 3px;
  border-style: solid;
  border-color: black;
}